# プロジェクト設定
PROJECT_NAME=my-loco-app

# データベース設定
POSTGRES_USER=postgres
POSTGRES_PASSWORD=dev_secure_p4ssw0rd_2024
POSTGRES_DB=loco_app

# Redis設定
REDIS_URL=redis://redis:6379

# アプリケーション設定
RUST_LOG=debug
RUST_BACKTRACE=1

# JWT設定
# 本番環境では必ず変更してください
JWT_SECRET=c299a319d752f7a3311619905973474d439a4e8dbca649165742d622d249b1a5

# メール設定（開発用）
MAILER_HOST=mailer
MAILER_PORT=1025
MAILER_USER=
MAILER_PASSWORD=

# FireCrawlのAPI Key
FIRECRAWL_API_KEY=

# GitHubのToken
GITHUB_PERSONAL_ACCESS_TOKEN=